final/src/main/java/com/example/guestbook/greeting.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="greeting">
   <xs:complexType>
      <xs:sequence>
         <xs:element name="author_email" type="xs:string" />
         <xs:element name="author_id" type="xs:string" />
         <xs:element name="content" type="xs:string" />
         <xs:element name="date" type="xs:date"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>

</xs:schema>